*{
    padding: 0;
    margin: 0;
    font-family:sans-serif;
    transition: all 0.3s  ease-in-out;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-style:inherit;
}

body{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    text-align: left;
    background-color: #fff;
   
 
    

}

.container{
    margin: 0 auto;
    padding:  0 40px;
}
/*big*/
@media(min-width:1200px){
    .container{width: 1170px;}
}


/*medium*/
@media(min-width:992px){
    .container{
        width: 970px;
    }
}


/*small*/
@media(min-width:768px){
    .container{
        width: 750px;
    }
}



.header{  
    .container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        border: solid 2px #000;
        border-radius: 20px;
        padding-bottom: 15rem;
        padding-top: 3rem;
        margin-top: 2rem;
        background: black;
        color: #fff;


       h2,h1{
            text-align: center;
            text-transform: uppercase;
            padding: 1rem 0;
        }
        


      p{
        text-align: center;
    }   



        
}


}

    


.section{
    .container{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        border: solid 2px black;
        background: #000;
        border-radius: 20px;
        color: #ffffff;
        margin-top: 5rem;
        align-items: center;
        padding: 1rem;
        width: 20vw;
    }
}


/*big*/
@media(max-width:1200px){
    
}


/*medium*/
@media(max-width:992px){
   
}


/*small*/
@media(max-width:768px){
    .header .container{
        width: 70vw;
    }

    .section .container{
        width: 70vw;
    }
}
